*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav1{
    position: fixed;
    bottom: 70%;
    right: 1%;
    left: 5%;
}

.h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;  
    margin-top: 0px;
    position: -webkit-sticky;
}
.h2>a{
    padding: 20px;
   margin: 20px;   
   color: white;
}