.parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items:flex-start;
    grid-column-gap: 450px;
    margin-bottom: 120px;
    margin-top: 100px;
}
.child1>p{
    font-size: 30px;
    font-family:cursive;
    font-stretch: expanded;
    margin-bottom: 30px;
}
.child1>h2{
    font-size: 35px;
    color: violet;
  
}
.c1{
    color: violet;
}
.child2>img{
border-radius: 20%;    
height: 300px;
margin-top: 30px;
}
.sm>h2{
    margin-bottom: 20px;
}
.sm>div>a{
    display: inline;
    padding: 30px;
    color: wheat;
    border-radius: 50%;
    
}
.sm>div>p{
    font-size: large;
    font-family: cursive;
    margin-top:10px;
    padding: 10px;

}