.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-row-gap: 50px;
     grid-column-gap: 150px;
 }
 .project1{
     border: 1px solid grey;
     border-radius: 30px;
     padding: 40px;
     height: 550px;
     width: 500px;
 }
 .project1>h2{
     margin: 20px;
 }
 .project1>img{
     border-radius: 50px;
 }
 
 .project2{
     border: 1px solid grey;
     border-radius: 30px;
     padding: 40px;
     height: 550px;
     width: 500px;
 }
 .project2>h2{
     margin: 20px;
 }
 .project2>img{
     border-radius: 50px;
 }
 .project3{
     border: 1px solid grey;
     border-radius: 30px;
     padding: 40px;
     height: 550px;
     width: 500px;
 }
 .project3>h2{
     margin: 20px;
 }
 .project3>img{
     border-radius: 50px;
 }
 .project4{
    border: 1px solid grey;
    border-radius: 30px;
    padding: 40px;
    height: 550px;
    width: 500px;
}
.project4>h2{
    margin: 20px;
}
.project4>img{
    border-radius: 50px;
}