h2{
    margin: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}
.skills>div{
    border: 1px solid gray;
    padding: 25px;
    margin: 10px;
    text-align: center;
    border-radius: 30px;
    font-family: cursive;
    font-weight: bold;
    box-shadow: 0 8px 16px rgb(66, 124, 191); 
}
.skills>div:hover{
    box-shadow: 0 8px 16px rgb(66, 124, 191); 
    transform: translatey(-35px);
}